@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 5%, 4%;
    --foreground: 32 100% 90%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 295, 90%, 50%;
    --primary-foreground: 32 100% 90%;

    --secondary: 260, 89%, 31%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --secondary-glow: conic-gradient(from 10deg at 50% 50%,
        #eb7494 0deg,
        #ae77b2 55deg,
        #97b5da 120deg,
        #0099ca 160deg,
        transparent 360deg);
    --third-glow: conic-gradient(from 90deg at 50% 50%,
        #ff8b7e 0deg,
        #e24e6b 160deg,
        #7ed2da 120deg,
        #8bdce0 55deg,
        transparent 360deg);
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .max-section {
    @apply max-w-screen-xl mx-4 md:mx-auto;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animatedBg::before,
  .animatedBg::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 1
  }

  .animatedBg::before {
    background: var(--third-glow);
    border-radius: 50%;
    width: 50vw;
    height: 40vw;
    margin-left: -200px;
    filter: blur(90px);
    top: calc(50vh - 50vw/2);
    left: calc(50vw);
    animation: animateBefore 8s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }

  .animatedBg::after {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 500px;
    height: 700px;
    filter: blur(90px);
    top: calc(50vh - 50vw/2);
    left: calc(50vw - 50vw/2);
    animation: animateAfter 15s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }

  @keyframes animateBefore {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(250px) scale(1);

    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes animateAfter {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-450px) scale(1.5);

    }

    100% {
      transform: translateX(0);
    }
  }
}