.mainBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mainBgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.animatedBg::before,
.animatedBg::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 1
}

.animatedBg::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 40vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw);
  animation: animateBefore 8s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.animatedBg::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100px) scale(1);

  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-450px) scale(1.2);

  }

  100% {
    transform: translateX(0);
  }
}